
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Django + ExtJS</h1>

    <!--Подключение JS-->
    <!--Возникли какието проблемы с настройкой static/app.js через STATICFILES_DIRS, но ошибка решилась методом научного тыка-->

    <!-- 1-ый способ (рабочий)-->
    <script type="text/javascript" src="static/app.js"></script>

    <!-- 2-й способ не подключает файл app.js-->
    <!--                                     -->
    <!--{% load static %}                    -->
    <!--<link href="{% static 'app.js' %}">  -->

    <!-- 3-ий способ файл видно в браузере, но пишет ошибку NotFound-->
    <!--<script src="static/app.js"></script>-->
</body>
</html>