<!--Тестовое задание для компании ООО "Старт иноваций" на вакансию junior fullstack-разработчик

    Задание:
    Web-приложение проверки имени пользователя стек Django+ExtJS. При построение странички использовать внутренние компоненты фреймворка ExtJS.

    В системе авторизации есть ограничение: логин должен начинаться с латинской буквы, состоять из латинских букв, цифр, точки и минуса, но заканчиваться только латинской буквой или цифрой;
    длина логина [1;20].
    Написать функцию, проверяющую соответствие входной строки этому правилу (использовать регулярные выражения).
    Придумать несколько способов. Сравнить их (просто описать какой подход лучше).
    Вход: строка с именем пользователя
    Выход: true - логин прошел проверку, false - не прошел.

    С точки зрения представления результатов.
    Это должно быть веб-приложение на Django в качестве сервер-сайда и ExtJS страница в качестве клиент-сайда.

    На странице допускается минимальное количество элементов:
    1) поле ввода логина
    2) кнопка "Проверить"
 -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Django + ExtJS</h1>

</body>
</html>